@import './theme/index.scss';
html {
  //灰色模式
  &.gray {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--el-text-color-primary);
  background-color: var(--el-bg-color-page);
  transition: background-color 0.3s;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
#app {
  min-height: 100vh;
}

*,
:before,
:after {
  box-sizing: border-box;
}
