body {
  margin: 0;
  color: #333;
  font-size: 14px;
  box-sizing: border-box;
  font-family: Lato, PingFang SC, Microsoft YaHei, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
* {
  box-sizing: inherit;
}

// textarea 字体跟随系统
textarea {
  font-family: inherit;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
.page-main {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: #333;
}
p {
  margin: 0;
}
