* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

li{
  list-style: none;
}
ul{
  padding:0;
  margin:0
}

.page-main{
  margin:20px;
  background-color: #fff;
  padding:20px;
  border-radius: 4px;
}