// base color


//导航栏
$navmenu-width: 240px;
$navmenu-width-collapse: 50px;
$navmenu-bg: #fff;// 导航背景色
$navmenu-color: #fff;// 导航文字颜色
// 次侧边栏背景色
$g-sub-sidebar-bg: #fafafa;
// 次侧边栏菜单文字颜色
$g-sub-sidebar-menu-color: #37414b;
// 次侧边栏菜单文字选中颜色
$g-sub-sidebar-menu-active-color: #e7f4ff;
// 次侧边栏菜单选中背景色
$g-sub-sidebar-menu-active-bg: #5482ee;


//顶部头
$headbar-height: 50px;


//脚部
$footerbar-height:80px;


// 输出给js使用
:export {
    g_sub_sidebar_bg: $g-sub-sidebar-bg;
    g_sub_sidebar_menu_color: $g-sub-sidebar-menu-color;
    g_sub_sidebar_menu_active_color: $g-sub-sidebar-menu-active-color;
    g_sub_sidebar_menu_active_bg: $g-sub-sidebar-menu-active-bg;
}