// base color

//侧边栏
$sidebar-box-shadow: 10px 0 10px -10px #c7c7c7; // 次侧边栏阴影背景色

// 主侧边栏
$g-main-sidebar-width: 55px; // 主侧边栏宽度
$g-main-sidebar-bg: #1f2d3d; // 主侧边栏颜色
$g-main-sidebar-active-bg: #409eff; // 主侧边栏选中颜色

//次侧边栏
$navmenu-width: 240px; //次侧边栏宽度
$navmenu-bg: #fafafa; // 次侧边栏背景色
$navmenu-color: #303133; // 次侧边栏文字颜色
$navmenu-active-color: #409eff; // 次侧边栏当前激活菜单的文字颜色
$navmenu-logo-bg: #fafafa; // 次侧边栏logo背景色

//顶部头
$headbar-height: 50px;
$headbar-bg: #fff; // 头部背景色

//脚部
$footerbar-height: 80px;
$footerbar-bg: #f0f2f5;

//内容区
$appmain-bg: #f0f2f5;

// 输出给js使用
:export {
  navmenu_color: $navmenu-color;
  navmenu_active_color: $navmenu-active-color;
}
