/** 
 * c:color
 * t:time
**/

:root {
  --font-family-base: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  --c-white: #ffffff;
  --c-white-mute: #f1f1f1;
  --c-black: #1a1a1a;
  --c-black-mute: #2f2f2f;
  --c-gray: #8e8e8e;
  --c-gray-1: #f0f2f5;
  --c-base: #333;
  --c-divider-light-1: rgba(60, 60, 60, 0.29);
  --c-text: #2c3e50;
  --c-text-light-1: var(--c-base);
  --c-text-light-2: rgba(60, 60, 60, 0.7);
  --c-divider: var(--c-divider-light-1);

  --t-color: 0.3s ease;

  --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);

  --c-bg-mute: var(--c-white-mute);
  --c-text-1: var(--c-text-light-1);
  --c-text-2: var(--c-text-light-2);
}
